<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <h1>show</h1>
    <h2><%= campground.title%></h2>

    <footer>
        <a href="/campgrounds/<%=campground._id%>/edit">EDIT camp grounds</a>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>delete</button>
        </form>
        <a href="/campground">all camp grounds</a>
    </footer>
</body>
</html>